@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Manrope", sans-serif;
  @apply text-white;
}

.custom-checkbox {
  @apply appearance-none h-4 w-4 bg-neutral-500 border border-neutral-400 relative;
}

.custom-checkbox:checked {
  @apply bg-green border-transparent;
}

.custom-checkbox:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: rgb(18, 14, 33, 1);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 22%, 80% 0, 35% 65%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
  font-family: "Manrope", sans-serif;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Manrope", sans-serif;
}

/* Custom styling for select elements */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  width: 100%;
  padding-right: 2.5rem; /* Adjust for desired spacing */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 0.35rem; /* Adjust for desired spacing */
  transform: translateY(-50%);
  pointer-events: none;
  width: 1rem; /* Adjust width as needed */
  height: 1rem; /* Adjust height as needed */
  background: url("src/assets/arrow_down.png") no-repeat center;
  background-size: contain;
}
